<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=240, height=320, initial-scale=1.0, user-scalable=no">
    <title>Tarefas e Listas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/3789/3789946.png">
</head>
<body>
    <div id="app" class="container">
        <h1>Lista</h1>
        <div class="input-container">
            <input type="text" v-model="newTask" placeholder="">
            <button @click="addTask"><i class="fas fa-plus"></i></button>
        </div>
        <transition-group name="fade" tag="ul">
            <li v-for="(task, index) in taskList" :key="index" class="fade-item">
                <input type="checkbox" v-model="task.completed"> {{ task.text }}
                <span class="delete-icon" @click="removeTask(index)"><i class="fas fa-trash"></i></span>
            </li>
        </transition-group>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>
